.page__weather-tomorrow {
  position: absolute;
  left: 68px;
  bottom: 30%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
}

@media (max-width: 1439px) {
  .page__weather-tomorrow {
    bottom: 5%;
    left: 10px;
  }
}

@media (max-width: 1100px) {
  .page__weather-tomorrow {
    top: 100px;
    left: 21px;
  }
}

@media (max-width: 499px) {
  .page__weather-tomorrow {
    left: 10px;
  }
}
